#header{
    background-color: rebeccapurple;
}
#firstBox{
    background-color: purple;
}
#SecondBox{
    background-color: powderblue;

}
#nav{
    background-color: rosybrown;
}
#footer{
    background-color: orange;
}
#Box1{
    background-color: royalblue;
   
}
#Box2{
    background-color: saddlebrown;
}
#Box3{
    background-color: seagreen;
    
}
#Box4{
    background-color: tan;
}

@media (min-width: 481px) and (max-width: 768px) {

    #header {
        background-color: pink;
    }

    #firstBox {
        background-color: indigo;
    }

    #SecondBox {
        background-color: seagreen;
    }

    #nav {
        background-color: brown;
    }

    #footer {
        background-color: yellowgreen;
    }

    #Box1 {
        background-color: tomato;
    }

    #Box2 {
        background-color: rebeccapurple;
    }

    #Box3 {
        background-color: aqua;
    }

    #Box4 {
        background-color: whitesmoke;
    }
}



@media  and (max-width: 480px) {

    #header {
        background-color: aqua;
    }

    #firstBox {
        background-color: olive;
    }

    #SecondBox {
        background-color: teal;
    }

    #nav {
        background-color: blueviolet;
    }

    #footer {
        background-color: skyblue;
    }

    #Box1 {
        background-color: chocolate;
    }

    #Box2 {
        background-color: steelblue;
    }

    #Box3 {
        background-color: silver;
    }

    #Box4 {
        background-color: rosybrown;
    }
}